
<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
<form action="/answer" method="get">
<div class = "paragraph">
  <input type="text" name="ask">
</div>
<div>
  <input type="submit" value="Ask!" class="a">
</div>
</form>
